.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.rightBar .container {
  padding: 20px;
}

.rightBar .container .item {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  span {
    color: lightgray;
  }
}

.rightBar .container .item .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.rightBar .container .item .user .user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  P {
    color: gray;
    font-size: 13px;
  }

  span {
    font-weight: 500;
    color: black;
  }
}

.rightBar .container .item .user .user-info .online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}

.rightBar .container .item .user .buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: white;

    &:first-child {
      background-color: #5271ff;
    }
    &:last-child {
      background-color: rgb(133, 130, 130);
    }
  }
}
